select {
    width: 100%;
}

path{
    stroke: #ffffff;
}

th {
    font-size: 14px;
}

td {
    font-size: 12px;
}

.pieText{
    /*font-size: 16px;*/
    font-family: "Helvetica", "Arial", sans-serif;
    text-anchor: middle;
}

.pieInnerText{
    font-size: 20px;
    font-family: "Helvetica", "Arial", sans-serif;
    text-anchor: middle;
}

.tile {

    width: 99.5%;
    margin: 0.25%;
}

.float {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Data table headers*/
.sorting, .sorting_asc, .sorting_desc {
    padding: 8px !important;
}

.link_head {
    border-bottom: 1px solid black;
}

.link_text {
    font-size: 13px;
    width: 100%
}

.stats_class {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}

.dataTables_filter {
    float: left !important;
}

.select_class {
    align-self: center;
    margin: auto;
    width: 120px;
}
.dt-buttons{
    width: 20%;
    float: right !important;
}
#adv_tbl_paginate{
    width: 100%
}

#low_response{
    width: 100%;
    text-align: center;
    margin: auto;
}

#btn_div {
    text-align: right;
}

#num_div {
    width: 72%;
    padding: 0.25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#arc_div{
    align-items: left;
}

#IC_div {
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin: 0;
    width: 100%;
}

#nums {
    font-size: 75px;
}

#font_appl {
    font-size: 30px;
}

#app_div {
    text-align: center;
    font-size: 15px;
}

#choice_div {
    width: 27.5%;
    flex-direction: column;
}

#select_div {
    align-items: center;
    justify-content: center;
}

#link_div {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    text-align: center;
    flex-wrap: wrap
}

#sel_lbl {
    font-weight: normal;
}