select {
    width: 100%;
}

span {
    display: block;
    margin: 0.5%;
}
path{
    stroke: #ffffff;
}
.alert {
    padding: 15px;
    border: none;
    border-left: 4px solid;
    margin: auto;
}
.alert-warning {
    border-color: rgb(255, 153, 0);
    background-color:  rgb(249, 244, 212);
}

.pieText{
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    text-anchor: middle;
    alignment-baseline: hanging;
}

.tile {
    background: #ffffff;
    width: 99.5%;
    margin: 0.25%;
}

.float {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sorting, .sorting_asc, .sorting_desc {
    padding: 5px;
}

.link_head {
    border-bottom: 1px solid black;
}

.link_text {
    font-size: 13px;
    width: 100%
}

.stats_class {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}

.dataTables_filter {
    margin-top: 3px;
    float: left !important;
}

.select_class {
    align-self: center;
    margin: auto;
    width: 120px;
}

#low_response{
    width: 66%;
    margin: auto;
}

#adv_tbl_paginate{
    width: 500px;
}

#btn_div {
    text-align: right;
}

#num_div {
    padding: 0.25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#arc_div{
    align-items: left;
}

#IC_div {
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin: 0;
    width: 100%;
}

#adv_table{
    width: 1000px;
}

#nums {
    font-size: 75px;
}

#font_appl {
    font-size: 30px;
}

#app_div {
    text-align: center;
    font-size: 15px;
}

#choice_div {
    flex-direction: column;
}

#select_div {
    align-items: center;
    justify-content: center;
}

#link_div {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    text-align: center;
    flex-wrap: wrap
}

#sel_lbl {
    font-weight: normal;
}