details, details[open], summary{
    margin-top: 0;
    margin-bottom: 0;
}

select{
    width: 100%;
}
.tile{
    background: #ffffff;
    width: 99.5%;
    margin: 0.25%;
}
.float{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sorting, .sorting_asc, .sorting_desc{
    padding:5px;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.link_head{
    border-bottom:1px solid black;
}

.link_text{
    font-size: 13px;
    width: 100%
}

.stats_class{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
}

.dataTables_filter {
    margin-top: 3px;
    float: left !important;
}

#btn_div {
    text-align: right;
}

#num_div{
    display: flex; /* or inline-flex */
    flex-direction: row ;
    align-items: center;
    justify-content: center;
}

#IC_div{
    font: 300 100px/100px "Helvetica Neue";
    text-align: center;
    width: 900px;
    height: 300px;
    margin: 0;
    /*align-self: flex-end;*/
}

#font_intro{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

#font_appl{
    font-size: 40px;
}


#app_div{
    text-align: center;
    font-size:15px;
}

#choice_div{
    display: flex; /* or inline-flex */
    flex-direction: column ;
}

#select_div{
    align-items: center;
    justify-content: center;
}

.select_class{
    align-self: center;
    margin: auto;
    width: 120px;
}

#link_div{
    display: flex; /* or inline-flex */
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    max-width:300px;
    text-align: center;
    flex-wrap: wrap
}

#sel_lbl{
    font-weight: normal;
}




